.title__wrapper {
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}
.title{
  font-size: 20px;
}

.subtitle{
  font-size: 10px;
}

.wrapper{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.fizOsoba__wrapper{
  display: flex;
  justify-content: center;
}

.MuiButton-root{
  text-transform: none;
}